<div class="quiz__container">
    <div class="quiz__logo">
        <img src="assets/imgs/logo.png" alt="" srcset="">
        <h1>{{ title }}</h1>
    </div>
    <div class="quiz__questions" *ngIf=!finished>
        <h3>
            {{ selectedQuestion.question }}
        </h3>
    </div>
    <div class="quiz__options" *ngIf=!finished>
        <button class="btn-option" 
            *ngFor="let op of selectedQuestion.options" 
            (click)="playerChoice(op.alias)">{{ op.name }}</button>
    </div>
    <div class="quiz__results" *ngIf=finished>
        <h1>Seu resultado é:</h1>
        <p>{{ selectedAnswer }}</p>
    </div>
</div>